@import "theme";

@color-tag-background: white;
@radius: 4px;

/*
 * 类似面包屑导航，效果见 StoryBook Others > TagGroup。
 *
 * 标签元素的顺序是反的，对TAB切换有影响，但可以当作特性。
 *
 * 【设计原理】
 * https://blog.kaciras.com/article/5/implement-multi-level-label-styles-by-CSS
 *
 * 【用法】
 * <div class="tag-group">
 *   <a class="tag-group-item">Last</a>
 *   <a class="tag-group-item">Second</a>
 *   <a class="tag-group-item">First</a>
 * </div>
 */
.tag-group {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;

	border-radius: 4px;
	background-color: @color-tag-background;
}

.tag-group-item {
	position: relative;
	border: solid 1px @color-input-active;
	padding: .2em .4em;

	&:last-child {
		border-top-left-radius: @radius;
		border-bottom-left-radius: @radius;
	}

	&:first-child {
		border-top-right-radius: @radius;
		border-bottom-right-radius: @radius;
	}

	&:not(:last-child) {
		padding-left: 1.2em;
		border-left-width: 0;
	}

	&:not(:first-child) {
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: -1.4em;

			border: solid .75em transparent;
			border-top-color: @color-tag-background;
			border-right-color: @color-tag-background;

			transform: translate(-50%, -50%) rotate(45deg);
			box-shadow: 1px -1px 0 0 @color-input-active;
		}
	}

	&:hover, &:focus {
		color: @color-tag-background;
		background-color: @color-input-active;
		text-decoration: none;

		&:after {
			border-top-color: @color-input-active;
			border-right-color: @color-input-active;
		}
	}
}

/*
 * TODO: 排行列表。暂时没想到怎么搞成组件，如果用slot子元素的class没法设置；用
 *  component又强制子元素必须单独写成组件。
 */
.rank-list {
	padding-left: 0;
	list-style: none;

	& > li {
		position: relative;
		counter-increment: index;
		margin-bottom: .75em;

		&:first-child::before { background: @color-second; }

		&:nth-child(2)::before { background: lighten(@color-second, 6%); }

		&:nth-child(3)::before { background: lighten(@color-second, 12%); }

		&::before {
			content: counter(index);
			position: absolute;
			padding: 0 .4em;
			border-radius: 4px;
			font-weight: 600;
			color: white;
			background: #CDCDCD;
		}

		& > .item {
			margin-left: 1.75em;
		}
	}
}
