@import "exports";

.full-screen {
	height: 100vh;
	overflow: hidden;
}

.segment:not(:last-child) {
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: solid 1px @color-border;
}

h1, h2, h3, h4, h5, h6 {
	&.compact {
		margin: 0;
	}
}

.minor-text {
	color: @color-text-minor;
}

.highlight {

	.highlight-color(@textColor, @hoverColor) {
		color: @textColor;
		&:visited { color: @textColor; }
		&:hover, &:focus { color: @hoverColor; }
	}

	.highlight-color(@color-link, @color-link);

	&:hover {
		text-decoration: underline;
	}

	&.error {
		.highlight-color(#f94f55, #f94f55);
	}

	&.pink {
		.highlight-color(white, #ff72ae);
	}
}

// 下面的垂直按钮组display是flex，这里并不需要，但是统一下是否更好？
.btn-group {

	& > .kx-btn + .kx-btn {
		margin-left: 10px;
	}

	&.compact > .kx-btn {
		&:not(:last-child) {
			margin: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			margin-left: 1px;
			margin-right: 0;

			&.outline {
				margin-left: -1px;
			}
		}
	}
}

.vertical-btn-group {
	display: flex;
	flex-direction: column;

	& > .kx-btn + .kx-btn {
		margin-top: 10px;
	}

	&.compact > .kx-btn {

		&:not(:last-child) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:not(:first-child) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;

			// TODO: 默认按钮是outline样式的却没有class
			margin-top: 1px;

			&.outline {
				margin-top: -1px;
			}
		}
	}
}

.full-percent {
	.size(100%);
}

.clean-list {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

// 清除链接元素的所有高亮样式
.clean-link {
	&:hover, &:focus, &:visited {
		color: inherit;
		text-decoration: none;
	}
}

// Highlight dark link
.hd-link {
	color: @color-second;
}

/**
 * 这几个属性写一大堆，而且还挺常用，所以提取出来了。
 * 使用方通常需要设置下 z-index，还有可能需要覆盖 position。
 */
.full-vertex {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.dialog-backdrop {
	position: fixed;
	z-index: 1000;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, .3);
}

// 禁止换行, 文本溢出省略号显示 (一行)
.ellipsis {
	white-space: normal;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
}

// 用于点击的元素，指针为手指样式、并禁止选取
.click-item {
	cursor: pointer;
	user-select: none;
}
