@import "Exports";

.full-screen {
	height: 100vh;
	overflow: hidden;
}

.panel {
	padding: 1.2rem;

	border: solid 1px @color-border;
	background-color: @color-panel-background;
	box-shadow: 0 0 3px fade(@color-border, 50%);

	&.compact {
		padding: 0;
	}

	&.large-padding {
		padding: 3rem;
	}

	&.round {
		border-radius: 1rem;
	}
}

.segment:not(:last-child) {
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: solid 1px @color-border;
}

h1, h2, h3, h4, h5, h6 {
	&.padding {
		border-left: 8px solid @color-primary-light;
		padding-left: 10px;
	}

	&.compact {
		margin: 0;
	}
}

hr {
	border: 0 solid @color-border;
	border-bottom-width: 1px;
}

.input, input {
	padding: .5em;
	min-width: 0; //去掉谷歌浏览器的最小宽度

	outline: none;
	border: solid 1px @color-border;
	border-radius: 4px;
	color: inherit;
	background: transparent;

	transition: box-shadow .2s;

	// TODO: 高亮样式跟按钮的有点像，能不能通用一下
	&:not([readonly]):hover {
		outline: 0;
		border-color: #209cee;
	}

	// 一些模仿 input 样式的复合组件使用 focus-within
	&:not([readonly]):focus-within {
		outline: 0;
		border-color: #209cee;
		box-shadow: 0 0 0 .2rem #a8e8ff;
	}

	&[type=color] {
		cursor: pointer;
		height: 2rem;
	}
}

.minor-text {
	color: @color-text-minor;
}

.head {
	.circle(5rem);

	&.small { .circle(3rem); }
}

.highlight {
	.highlight-color(@color-link, @color-link);

	&:hover {
		text-decoration: underline;
	}

	&.error {
		.highlight-color(#f94f55, #f94f55);
	}

	&.pink {
		.highlight-color(white, #ff72ae);
	}
}

.meta {
	margin-right: 1em;

	& > i {
		margin-right: .2em;
	}
}

.btn-group {

	& > .kx-btn + .kx-btn {
		margin-left: .5rem;
	}

	&.compact > .kx-btn {
		&:not(:last-child) {
			margin: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			margin-left: 1px;
			margin-right: 0;

			&.outline {
				margin-left: -1px;
			}
		}
	}
}

.vertical-btn-group {

	& > .kx-btn + .kx-btn {
		margin-top: .3rem;
	}

	&.compact > .kx-btn {

		&:not(:last-child) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:not(:first-child) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;

			// TODO: 默认按钮是outline样式的却没有class
			margin-top: 1px;

			&.outline {
				margin-top: -1px;
			}
		}
	}
}

.square {
	border-radius: 0 !important;
}

.full-percent {
	.size(100%);
}

.show-mobile {
	@media screen and (min-width: @length-screen-mobile) {
		display: none;
	}
}

.hide-mobile {
	@media screen and (max-width: @length-screen-mobile) {
		display: none;
	}
}

.el-wrapper {
	display: contents;
}

.inline {
	display: inline-block;
}

.clean-list {
	padding-left: 0;
	list-style: none;
}
