/*
 * 常用 Less 公共样式封装，部分取自：
 * https://blog.csdn.net/boyit0/article/details/78802385
 */

/* 指定边长的正方形盒子 */
.size(@size) {
	width: @size;
	height: @size;
}

.margin-abs(@margin) {
	top: @margin;
	bottom: @margin;
	left: @margin;
	right: @margin;
}

/* 最小尺寸 */
.min-size(@w, @h) {
	min-width: @w;
	min-height: @h;
}

/* 居中, 确定尺寸 */
.center-absolute(@w, @h) {
	width: @w;
	height: @h;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -(@w / 2);
	margin-top: -(@h / 2);
}

/* 扩展点击区域 */
.extend-click(@left, @right, @top, @bottom) {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: -@top;
		left: -@left;
		right: -@right;
		bottom: -@bottom;
	}
}

/* 定宽居中页面布局 */
.layout-page(@width: 80%) {
	width: @width;
	margin-left: auto;
	margin-right: auto;
}

/* 圆形 */
.circle(@diameter) {
	width: @diameter;
	height: @diameter;
	border-radius: 50%;
}

/**
 * 使用 -webkit-line-clamp 属性限制文字的行数，多余的显示省略号。
 * 这个属性的兼容性目前还不太好。
 */
.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: var(--line-clamp);
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 用 max-width 来防止图片撑破容器 */
.max-img() {
	display: block;
	max-width: 100%;
	height: auto;
}

/* 全屏大图背景 */
.fullscreen-bg(@url) {
	width: 100vw;
	height: 100vh;
	background: url(@url) no-repeat 50% 50%;
	background-size: cover;
}

.highlight-color(@textColor, @hoverColor) {
	color: @textColor;
	&:visited { color: @textColor; }
	&:hover, &:focus { color: @hoverColor; }
}
