// 我讨厌 a11y……

// 主色，在白背景下有3.0的对比度
@color-primary: #0099ff;

// 次要颜色
@color-second: #ff2cd2;

@color-primary-light: #00d9ff;

// 页面背景颜色
@color-background: #fcfcff;

// 页面背景图片
@img-background: none;

// 文字颜色
@color-text: #222;

// 次要文字颜色
@color-text-minor: #6E7881;

// 面板背景颜色
@color-panel-background: #FFFFFF;

// 边框颜色和阴影大小
@color-border: #dce2e6;
@length-border-shadow: 4px;

// 顶部导航栏背景颜色
@color-nav-background: #FFFFFF;

// 输入框选中时的边框颜色
@color-input-active: #069AF9;

// 开关按钮关闭时的颜色
@color-input-silent: #ccc;

// 标题左边装饰块的颜色
@color-head-padding: #71edf0;

// 链接文字颜色，Firefox 默认色
@color-link: #0000ee;

// 响应式设计界面宽度
@length-screen-mobile: 768px;
@length-screen-pad: 992px;
@length-screen-wide: 1200px;

// 按钮颜色，除 info 外均符合 WCAG-AA（4.5 对比度） 标准
@color-button-primary: #0776DF;
@color-button-second: #e10199;
@color-button-info: #01AD20;
@color-button-dangerous: #E42B21;
