@import "../src/css/mixins";

.mock-dialog {
	display: flex;
	flex-direction: column;

	width: 400px;
	height: 280px;
	margin: 0 auto;
	padding: 10px;

	border: solid 1px #e6e6e6;
}

.mock-dialog-content {
	flex: 1;
}

.sync-scroll {
	display: flex;
	height: 90vh;

	& > textarea {
		min-width: 20em;
	}
}

.directive-textarea {
	width: 50vw;
	height: 8em;
}

.ime-input-result {
	font-size: initial;
	padding: 1em 0;
}

.error {
	color: red;
}

.line-clamp {
	border: solid 1px;
	width: 28em;
	padding: .5em;

	& > article {
		.line-clamp(3);
	}
}

.scroll-to-box {
	width: 320px;
	height: 180px;
	margin: 90vh auto;
	border: blue dashed;
}

#drag-demo {
	--grid-size: 100px;

	width: 500vw;
	height: 500vh;

	background-size: var(--grid-size) var(--grid-size);
	background-image:
			linear-gradient(to right, lightgray 1px, transparent 1px),
			linear-gradient(to bottom, lightgray 1px, transparent 1px);

	&::before, &::after {
		content: "";
		position: fixed;
		z-index: 10;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		border-color: red;
		pointer-events: none;
	}

	&::before {
		width: calc(100vw - var(--edge-size) * 2);
		height: 100vh;
		border-left-style: dashed;
		border-right-style: dashed;
	}

	&::after {
		height: calc(100vh - var(--edge-size) * 2);
		width: 100vw;
		border-top-style: dashed;
		border-bottom-style: dashed;
	}
}

#drag-demo-el {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 150px);
	width: 300px;
	height: 200px;

	cursor: grab;
	user-select: none;
	background: whitesmoke;
	border: solid #0000ee;
	font-size: 40px;
}