.mock-dialog {
	display: flex;
	flex-direction: column;

	width: 400px;
	height: 280px;
	margin: 0 auto;
	padding: 10px;

	border: solid 1px #e6e6e6;
}

.mock-dialog-content {
	flex: 1;
}

.sync-scroll {
	display: flex;
	height: 90vh;

	& > textarea {
		min-width: 20em;
	}
}

.directive-textarea {
	width: 50vw;
	height: 8em;
}

.ime-input-result {
	font-size: initial;
	padding: 1em 0;
}
